[Unit]
Description=Start/Stops VMs in order with the script vm-boot-order.py
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python /usr/local/sbin/vm-boot-order.py start
ExecStop=/usr/bin/python /usr/local/sbin/vm-boot-order.py stop

[Install]
WantedBy=multi-user.target
